<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href='#'>
            <img src='../images/Three-Musketeers-logo1.png' width="150" height="150" class="d-inline-block align-middle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Project Data and Findngs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="mapping.html">Mapping</a>
                <a class="dropdown-item" href="Graphs.html">Graphs</a>
                <a class="dropdown-item" href="Findings.html">Findings</a>
                <a class="dropdown-item" href="facts.html">Facts</a>
                <a class="dropdown-item" href="overview.html">Overview</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>



    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>The Proposal</h1>
            <hr>
            <h3>Hypothesis: There is a positive correlation between the number of fast food restaurants and the rate of poverty within a county. </h3><hr>
            <p>Our group has decided to look at the relationship between the number of restaurants and poverty level within a county. We wanted to see if we saw more fast food 
              located in areas where the poverty level was higher. Between 2009 and 2014, the number of fast food restaurants in the United States increased by 9 percent, from 210,692 
              restaurants in 2009 to 228,677 restaurants in 2014. (Rhone, 2017) At this same time, the poverty rate in America increased from 14.3 percent in 2009(PBS NewsHour, 2010) to 14.8 
              percent in 2014(DeNavas-Walt, 2018). </p>
            <p>There are many reasons for understanding the role that fast food plays in our lives, but two significant ones are the health of the individuals in that area and the costs 
              associated with eating out more frequently. An increase in the number of fast food restaurants in any given area would mean the area has the ability to sustain those 
              establishments. Individuals in that area would be spending more on fast food, which would also mean there is a likelihood they are not eating as many healthy meals. </p>
          </div>
        </div>

<footer>
    <div class="footer">References
    <p>1. Rhone, A. (2017, December 4). ERS's Updated Food Environment Atlas Shows an Increase in Fast Food Restaurants Between 2009 and 2014. Retrieved May 27, 2020, 
      from http://www.ers.usda.gov/amber-waves/2017/december/ers-s-updated-food-environment-atlas-shows-an-increase-in-fast-food-restaurants-between-2009-and-2014/ </p>
    <p>2. 1 in 7 Americans Lived in Poverty in 2009 ... - PBS NewsHour. (2010, September 16). Retrieved May 28, 2020, 
      from https://www.pbs.org/newshour/economy/poverty-uninsured-rates-rise-as-recession-continues</p>
    <p>3. DeNavas-Walt, C., & Proctor, B. D. (2018, July 25). Income and Poverty in the United States: 2014. Retrieved May 27, 2020, 
      from https://www.census.gov/library/publications/2015/demo/p60-252.html </p></div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>